// Place all the styles related to the Series controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*-------------- TEMP GUIDELINES --------------*/
/*
table
{
	border-collapse:collapse;
}
td
{
	border: 1px solid grey;
	padding: 5px;
}
*/