<!-- ============================================== -->	




					</div><!-- /.view -->

					<br />
					<h3>All Pages</h3>
					<ul><li><a href="http://cis.ksu.edu/events" title="Events of the department">Events</a></li><li><a href="http://cis.ksu.edu/calendar" title="">Calendar</a></li><li><a href="http://cis.ksu.edu/announcements" title="">Announcements</a></li><li><a href="http://cis.ksu.edu/news/seminars" title="Seminar Series">Seminar Series</a></li></ul>  </div>
					
				</div><!-- /.node -->
			</div>
		</div>
	</div><!-- /.section, /#content -->

	
	
	
	
	
	
<div id="navigation"><div class="section clearfix">
          <div class="region region-navigation">
  <div id="block-superfish-1" class="block block-superfish first last region-odd even region-count-1 count-4">
      <h2 class="title">Primary links</h2>
  
  <div class="content">
    <!-- <ul id="superfish-1" class="sf-menu sf-primary-links sf-horizontal sf-style-none sf-total-items-9 sf-parent-items-8 sf-single-items-1"><li id="menu-7860-1" class="first odd sf-item-1 sf-depth-1 sf-no-children"><a href="http://cis.ksu.edu/" title="Go to the CIS Homepage" class="sf-depth-1">CIS Home</a></li><li id="menu-7861-1" class="middle even sf-item-2 sf-depth-1 sf-total-children-4 sf-parent-children-3 sf-single-children-1 menuparent"><a href="http://cis.ksu.edu/about" title="About the CIS Department" class="sf-depth-1 menuparent">About</a><ul class="sf-megamenu"><li class="sf-megamenu-wrapper middle even sf-item-2 sf-depth-1 sf-total-children-4 sf-parent-children-3 sf-single-children-1 menuparent"><ol><li id="menu-7862-1" class="first odd sf-item-1 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/about/mission" title="Our strategic mission and our progress towards it." class="sf-depth-2">Mission and Progress</a></li><li id="menu-7863-1" class="middle even sf-item-2 sf-depth-2 sf-total-children-3 sf-parent-children-0 sf-single-children-3 sf-megamenu-column menuparent"><div class="sf-megamenu-column"><a href="http://cis.ksu.edu/about/department" title="Information specifically about the department itself." class="sf-depth-2 menuparent">Department</a><ol><li id="menu-7864-1" class="first odd sf-item-1 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/about/ethics" title="Our beliefs towards ethics in the computing field. " class="sf-depth-3">Ethics &amp; Computing</a></li><li id="menu-7865-1" class="middle even sf-item-2 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/about/nichols" title="The storied history of our castle, Nichols Hall." class="sf-depth-3">Nichols Hall</a></li><li id="menu-7869-1" class="last odd sf-item-3 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/about/annualreport" title="Page with our annual reports." class="sf-depth-3">Annual Reports</a></li></ol></div></li><li id="menu-7867-1" class="middle odd sf-item-3 sf-depth-2 sf-total-children-2 sf-parent-children-0 sf-single-children-2 sf-megamenu-column menuparent"><div class="sf-megamenu-column"><a href="http://cis.ksu.edu/about/manhattan" title="Information about Manhattan, KS." class="sf-depth-2 menuparent">Manhattan</a><ol><li id="menu-7866-1" class="first odd sf-item-1 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/about/campus" title="Information about the campus of K-State." class="sf-depth-3">Campus</a></li><li id="menu-7868-1" class="last even sf-item-2 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/about/directions" title="Directions to our department." class="sf-depth-3">Directions</a></li></ol></div></li><li id="menu-7870-1" class="last even sf-item-4 sf-depth-2 sf-total-children-2 sf-parent-children-0 sf-single-children-2 sf-megamenu-column menuparent"><div class="sf-megamenu-column"><a href="http://cis.ksu.edu/about/iab" title="Information about our Industry Advisory Board." class="sf-depth-2 menuparent">Industry Advisory Board</a><ol><li id="menu-9200-1" class="first odd sf-item-1 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/about/iab/members" title="Members of the IAB" class="sf-depth-3">Members</a></li><li id="menu-9201-1" class="last even sf-item-2 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/about/iab/bylaws" title="Bylaws of the IAB" class="sf-depth-3">Bylaws</a></li></ol></div></li></ol></li></ul></li><li id="menu-7871-1" class="middle odd sf-item-3 sf-depth-1 sf-total-children-4 sf-parent-children-0 sf-single-children-4 menuparent"><a href="http://cis.ksu.edu/people" title="Personnel listings, search for professors, staff members, students, and alumni of the department." class="sf-depth-1 menuparent">People</a><ul class="sf-megamenu"><li class="sf-megamenu-wrapper middle odd sf-item-3 sf-depth-1 sf-total-children-4 sf-parent-children-0 sf-single-children-4 menuparent"><ol><li id="menu-7872-1" class="first odd sf-item-1 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/people/faculty" title="Faculty and Professors of the department." class="sf-depth-2">Faculty</a></li><li id="menu-7873-1" class="middle even sf-item-2 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/people/staff" title="Support staff of the department." class="sf-depth-2">Staff</a></li><li id="menu-7874-1" class="middle odd sf-item-3 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/people/students" title="Links to Graduate and Undergraduate homepages." class="sf-depth-2">Students</a></li><li id="menu-7875-1" class="last even sf-item-4 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/people/alumni" title="Alumni of our department." class="sf-depth-2">Alumni</a></li></ol></li></ul></li><li id="menu-7877-1" class="middle even sf-item-4 sf-depth-1 sf-total-children-4 sf-parent-children-2 sf-single-children-2 menuparent"><a href="http://cis.ksu.edu/research" title="Information about the research conducted by our department." class="sf-depth-1 menuparent">Research</a><ul class="sf-megamenu"><li class="sf-megamenu-wrapper middle even sf-item-4 sf-depth-1 sf-total-children-4 sf-parent-children-2 sf-single-children-2 menuparent"><ol><li id="menu-7878-1" class="first odd sf-item-1 sf-depth-2 sf-total-children-2 sf-parent-children-0 sf-single-children-2 sf-megamenu-column menuparent"><div class="sf-megamenu-column"><a href="http://cis.ksu.edu/research/areas" title="Major focus areas of research at the department." class="sf-depth-2 menuparent">Research Areas</a><ol><li id="menu-9202-1" class="first odd sf-item-1 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/research/areas/cybersecurity" title="" class="sf-depth-3">Cybersecurity</a></li><li id="menu-9662-1" class="last even sf-item-2 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/research/areas/data-mining" title="Machine Learning and Data Mining" class="sf-depth-3">Machine Learning and Data Mining</a></li></ol></div></li><li id="menu-7879-1" class="middle even sf-item-2 sf-depth-2 sf-total-children-10 sf-parent-children-0 sf-single-children-10 sf-megamenu-column menuparent"><div class="sf-megamenu-column"><a href="http://cis.ksu.edu/research/groups" title="Information about the various research groups and laboratories in the department." class="sf-depth-2 menuparent">Research Groups / Labs</a><ol><li id="menu-9205-1" class="first odd sf-item-1 sf-depth-3 sf-no-children"><a href="http://www.arguslab.org" title="" class="sf-depth-3">Argus Cybersecurity Group</a></li><li id="menu-9206-1" class="middle even sf-item-2 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/beocat" title="Beocat supercomputing cluster" class="sf-depth-3">Beocat</a></li><li id="menu-9203-1" class="middle odd sf-item-3 sf-depth-3 sf-no-children"><a href="http://www.cisa.ksu.edu/" title="" class="sf-depth-3">Center for Informaiton Assurance</a></li><li id="menu-9213-1" class="middle even sf-item-4 sf-depth-3 sf-no-children"><a href="http://chert.cis.ksu.edu/home.html" title="" class="sf-depth-3">ChERT Laboratory</a></li><li id="menu-9212-1" class="middle odd sf-item-5 sf-depth-3 sf-no-children"><a href="http://www.kddresearch.org/" title="Knowledge Discovery in Databases Laboratory" class="sf-depth-3">KDD Laboratory</a></li><li id="menu-9210-1" class="middle even sf-item-6 sf-depth-3 sf-no-children"><a href="http://macr.cis.ksu.edu/" title="Multiagent &amp; Cooperative Reasoning Laboratory " class="sf-depth-3">MACR Laboratory</a></li><li id="menu-9211-1" class="middle odd sf-item-7 sf-depth-3 sf-no-children"><a href="http://people.cis.ksu.edu/~dcaragea/mlb/doku.php" title="Machine Learning and Bioinformatics Group" class="sf-depth-3">MLB Group</a></li><li id="menu-9208-1" class="middle even sf-item-8 sf-depth-3 sf-no-children"><a href="http://people.cis.ksu.edu/~dag/robotics/home.shtml" title="" class="sf-depth-3">Mobile Robotics</a></li><li id="menu-9204-1" class="middle odd sf-item-9 sf-depth-3 sf-no-children"><a href="http://www.santoslab.org/" title="Laboratory for Specification, Analysis, and Transformation of Software" class="sf-depth-3">SAnToS Laboratory</a></li><li id="menu-9207-1" class="last even sf-item-10 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/_external/VPST/home.html" title="" class="sf-depth-3">Virtual Pipeline System Testbed</a></li></ol></div></li><li id="menu-7880-1" class="middle odd sf-item-3 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/research/projects" title="" class="sf-depth-2">Research Projects List</a></li><li id="menu-7881-1" class="last even sf-item-4 sf-depth-2 sf-no-children"><a href="http://people.cis.ksu.edu/~schmidt/techreport/intro.html" title="Technical reports release by our department. " class="sf-depth-2">Technical Reports</a></li></ol></li></ul></li><li id="menu-7882-1" class="middle odd sf-item-5 sf-depth-1 sf-total-children-4 sf-parent-children-3 sf-single-children-1 menuparent"><a href="http://cis.ksu.edu/programs" title="Information about the academic programs offered by our department." class="sf-depth-1 menuparent">Programs</a><ul class="sf-megamenu"><li class="sf-megamenu-wrapper middle odd sf-item-5 sf-depth-1 sf-total-children-4 sf-parent-children-3 sf-single-children-1 menuparent"><ol><li id="menu-7883-1" class="first odd sf-item-1 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/programs/objectives" title="Official Program Objectives (POs) and Student Learning Outcomes (SLOs) for the department." class="sf-depth-2">Program Objectives and Student Learning Outcomes</a></li><li id="menu-7884-1" class="middle even sf-item-2 sf-depth-2 sf-total-children-4 sf-parent-children-0 sf-single-children-4 sf-megamenu-column menuparent"><div class="sf-megamenu-column"><a href="http://cis.ksu.edu/programs/undergrad" title="Information about the undergraduate programs offered by the department." class="sf-depth-2 menuparent">Undergraduate</a><ol><li id="menu-9244-1" class="first odd sf-item-1 sf-depth-3 sf-no-children"><a href="http://www.k-state.edu/admissions/" title="Admissions for CIS undergraduate programs" class="sf-depth-3">Admissions</a></li><li id="menu-9217-1" class="middle even sf-item-2 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/programs/undergrad/cs" title="B.S. Computer Science degree" class="sf-depth-3">Computer Science</a></li><li id="menu-9218-1" class="middle odd sf-item-3 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/programs/undergrad/is" title="B.S. Information Systems degree" class="sf-depth-3">Information Systems</a></li><li id="menu-9219-1" class="last even sf-item-4 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/programs/minor" title="Information and application form for a minor in Computer Science" class="sf-depth-3">Computer Science Minor</a></li></ol></div></li><li id="menu-7885-1" class="middle odd sf-item-3 sf-depth-2 sf-total-children-8 sf-parent-children-0 sf-single-children-8 sf-megamenu-column menuparent"><div class="sf-megamenu-column"><a href="http://cis.ksu.edu/programs/grad" title="Information about the graduate programs offered by the department." class="sf-depth-2 menuparent">Graduate</a><ol><li id="menu-9225-1" class="first odd sf-item-1 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/programs/grad/admissions" title="Admissions for CIS graduate programs" class="sf-depth-3">Admissions</a></li><li id="menu-9220-1" class="middle even sf-item-2 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/programs/grad/ms" title="M.S. Computer Science degree" class="sf-depth-3">M.S.</a></li><li id="menu-9221-1" class="middle odd sf-item-3 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/programs/grad/mse" title="Master of Software Engineering degree" class="sf-depth-3">M.S.E.</a></li><li id="menu-9222-1" class="middle even sf-item-4 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/phd" title="Ph.D. Computer Science degree" class="sf-depth-3">Ph.D.</a></li><li id="menu-9223-1" class="middle odd sf-item-5 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/programs/grad/certificate" title="Graduate Certificate Program in Real-Time Embedded Systems" class="sf-depth-3">Graduate Certificate</a></li><li id="menu-9224-1" class="middle even sf-item-6 sf-depth-3 sf-no-children"><a href="http://www.k-state.edu/grad" title="Kansas State University Graduate School" class="sf-depth-3">K-State Graduate School</a></li><li id="menu-9226-1" class="middle odd sf-item-7 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/programs/grad/finaid" title="Financial Aid for CIS Graduate Programs" class="sf-depth-3">Financial Aid</a></li><li id="menu-9227-1" class="last even sf-item-8 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/programs/grad/forms" title="Forms for CIS Graduate Programs" class="sf-depth-3">Forms</a></li></ol></div></li><li id="menu-7887-1" class="last even sf-item-4 sf-depth-2 sf-total-children-4 sf-parent-children-0 sf-single-children-4 sf-megamenu-column menuparent"><div class="sf-megamenu-column"><a href="http://cis.ksu.edu/programs/disted" title="Information about distance education programs offered by the department." class="sf-depth-2 menuparent">Distance Education</a><ol><li id="menu-9231-1" class="first odd sf-item-1 sf-depth-3 sf-no-children"><a href="http://www.dce.k-state.edu/engineering/masters/software/admission" title="Admissions for CIS Distance Education programs" class="sf-depth-3">Admissions</a></li><li id="menu-9230-1" class="middle even sf-item-2 sf-depth-3 sf-no-children"><a href="http://www.dce.k-state.edu/engineering/masters/software/" title="Master of Software Engineering distance degree" class="sf-depth-3">M.S.E</a></li><li id="menu-9229-1" class="middle odd sf-item-3 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/programs/disted/faqs" title="Frequently Asked Questions for Distance Programs" class="sf-depth-3">FAQs</a></li><li id="menu-9228-1" class="last even sf-item-4 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/programs/disted/tools" title="Tools for distance education programs" class="sf-depth-3">Tools</a></li></ol></div></li></ol></li></ul></li><li id="menu-7888-1" class="middle even sf-item-6 sf-depth-1 sf-total-children-3 sf-parent-children-2 sf-single-children-1 menuparent"><a href="http://cis.ksu.edu/courses" title="Information about specific courses offered by the department." class="sf-depth-1 menuparent">Courses</a><ul class="sf-megamenu"><li class="sf-megamenu-wrapper middle even sf-item-6 sf-depth-1 sf-total-children-3 sf-parent-children-2 sf-single-children-1 menuparent"><ol><li id="menu-7889-1" class="first odd sf-item-1 sf-depth-2 sf-total-children-2 sf-parent-children-0 sf-single-children-2 sf-megamenu-column menuparent"><div class="sf-megamenu-column"><a href="http://cis.ksu.edu/courses/descriptions" title="Links to syllabi for all CIS courses. " class="sf-depth-2 menuparent">CIS Course Syllabi</a><ol><li id="menu-7893-1" class="first odd sf-item-1 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/courses/cis10x" title="Information about the CIS 101, CIS 102, CIS 103, and CIS 104 specialty classes. " class="sf-depth-3">CIS 101-104 Courses</a></li><li id="menu-7894-1" class="last even sf-item-2 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/courses/seniorprojects" title="Information about the senior project courses. " class="sf-depth-3">CIS 597-598 Courses</a></li></ol></div></li><li id="menu-7890-1" class="middle even sf-item-2 sf-depth-2 sf-total-children-3 sf-parent-children-0 sf-single-children-3 sf-megamenu-column menuparent"><div class="sf-megamenu-column"><a href="http://courses.k-state.edu/" title="Link to the K-State Course Catalog website." class="sf-depth-2 menuparent">K-State Course Catalog</a><ol><li id="menu-8561-1" class="first odd sf-item-1 sf-depth-3 sf-no-children"><a href="http://courses.k-state.edu/spring2014/CIS/" title="External link to catalog for Spring 2014 semester." class="sf-depth-3">CIS Spring 2014</a></li><li id="menu-7891-1" class="middle even sf-item-2 sf-depth-3 sf-no-children"><a href="http://courses.k-state.edu/summer2014/CIS/" title="Link to the CIS courses offered Summer 2013. " class="sf-depth-3">CIS Summer 2014</a></li><li id="menu-7892-1" class="last odd sf-item-3 sf-depth-3 sf-no-children"><a href="http://courses.k-state.edu/fall2014/CIS/" title="Link to the CIS courses offered Fall 2013." class="sf-depth-3">CIS Fall 2014</a></li></ol></div></li><li id="menu-7895-1" class="last odd sf-item-3 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/courses/onlinelectureeval" title="" class="sf-depth-2">Online Lecture Evaluation</a></li></ol></li></ul></li><li id="menu-7896-1" class="middle odd sf-item-7 sf-depth-1 sf-total-children-4 sf-parent-children-1 sf-single-children-3 menuparent"><a href="http://cis.ksu.edu/outreach" title="Information about our outreach programs." class="sf-depth-1 menuparent">Outreach</a><ul class="sf-megamenu"><li class="sf-megamenu-wrapper middle odd sf-item-7 sf-depth-1 sf-total-children-4 sf-parent-children-1 sf-single-children-3 menuparent"><ol><li id="menu-7897-1" class="first odd sf-item-1 sf-depth-2 sf-total-children-3 sf-parent-children-0 sf-single-children-3 sf-megamenu-column menuparent"><div class="sf-megamenu-column"><a href="http://cis.ksu.edu/hspc" title="Information about participation and registration for our annual High School Programming Contest." class="sf-depth-2 menuparent">High School Programming Contest</a><ol><li id="menu-9215-1" class="first odd sf-item-1 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/hspc/rules" title="Rules for the High School Programming Contest" class="sf-depth-3">Rules</a></li><li id="menu-9214-1" class="middle even sf-item-2 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/hspc/schedule" title="Schedule for the High School Programming Contest" class="sf-depth-3">Schedule</a></li><li id="menu-9216-1" class="last odd sf-item-3 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/hspc/problems" title="Archive of past problems used in the HSPC." class="sf-depth-3">Problems Archive</a></li></ol></div></li><li id="menu-7898-1" class="middle even sf-item-2 sf-depth-2 sf-no-children"><a href="http://gk12.cis.ksu.edu/" title="" class="sf-depth-2">INSIGHT GK-12</a></li><li id="menu-7899-1" class="middle odd sf-item-3 sf-depth-2 sf-no-children"><a href="http://www.k-state.edu/excite/" title="" class="sf-depth-2">EXCITE</a></li><li id="menu-7900-1" class="last even sf-item-4 sf-depth-2 sf-no-children"><a href="http://www.k-state.edu/grow/" title="" class="sf-depth-2">GROW</a></li></ol></li></ul></li><li id="menu-7902-1" class="active-trail middle even sf-item-8 sf-depth-1 sf-total-children-5 sf-parent-children-0 sf-single-children-5 menuparent"><a href="." title="Read news releases and see events put on by our department." class="sf-depth-1 menuparent active">News &amp; Events</a><ul class="sf-megamenu"><li class="sf-megamenu-wrapper active-trail middle even sf-item-8 sf-depth-1 sf-total-children-5 sf-parent-children-0 sf-single-children-5 menuparent"><ol><li id="menu-7906-1" class="first odd sf-item-1 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/announcements" title="List of important announcements released by our department." class="sf-depth-2">Announcements</a></li><li id="menu-7904-1" class="middle even sf-item-2 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/events" title="List of upcoming events." class="sf-depth-2">Events</a></li><li id="menu-7907-1" class="middle odd sf-item-3 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/news/seminars" title="Upcoming seminars at our department." class="sf-depth-2">Seminars</a></li><li id="menu-7905-1" class="middle even sf-item-4 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/calendar" title="List of upcoming events in a useable calendar format." class="sf-depth-2">Calendar</a></li><li id="menu-7903-1" class="last odd sf-item-5 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/news/archive" title="Archive of all news releases." class="sf-depth-2">News Archive</a></li></ol></li></ul></li><li id="menu-7908-1" class="last odd sf-item-9 sf-depth-1 sf-total-children-6 sf-parent-children-0 sf-single-children-6 menuparent"><a href="http://cis.ksu.edu/employment" title="Employment opportunities at our department and elsewhere." class="sf-depth-1 menuparent">Employment</a><ul class="sf-megamenu"><li class="sf-megamenu-wrapper last odd sf-item-9 sf-depth-1 sf-total-children-6 sf-parent-children-0 sf-single-children-6 menuparent"><ol><li id="menu-7909-1" class="first odd sf-item-1 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/employment/faculty" title="Full-time faculty positions offered by our department." class="sf-depth-2">Faculty</a></li><li id="menu-7910-1" class="middle even sf-item-2 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/employment/full-time" title="Other, non-faculty, full-time positions. " class="sf-depth-2">Full-time</a></li><li id="menu-7911-1" class="middle odd sf-item-3 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/employment/part-time" title="Part-time employment opportunities. " class="sf-depth-2">Part-time</a></li><li id="menu-7912-1" class="middle even sf-item-4 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/employment/internships" title="Internship opportunities for current students." class="sf-depth-2">Internships</a></li><li id="menu-7913-1" class="middle odd sf-item-5 sf-depth-2 sf-no-children"><a href="http://cis.ksu.edu/employment/scholarships" title="Scholarship opportunities for current students. " class="sf-depth-2">Scholarships</a></li><li id="menu-7914-1" class="last even sf-item-6 sf-depth-2 sf-no-children"><a href="http://www.k-state.edu/ces/students/careerfairs.htm" title="Information about career fairs, from K-State CES." class="sf-depth-2">Career Fairs</a></li></ol></li></ul></li></ul>  </div> -->
		<ul id="superfish-1" class="sf-menu sf-primary-links sf-horizontal sf-style-none sf-total-items-9 sf-parent-items-8 sf-single-items-1">
		<li id="menu-7860-1" class="first odd sf-item-1 sf-depth-1 sf-no-children"><a href="http://cis.ksu.edu/" title="Go to the CIS Homepage" class="sf-depth-1">CIS Home</a></li>
				<li id="menu-7861-1" class="middle even sf-item-2 sf-depth-1 sf-total-children-4 sf-parent-children-3 sf-single-children-1 menuparent"><a href="/about" title="About the CIS Department" class="sf-depth-1 menuparent">About</a></li>
		<li id="menu-7871-1" class="middle odd sf-item-3 sf-depth-1 sf-total-children-4 sf-parent-children-0 sf-single-children-4 menuparent"><a href="http://cis.ksu.edu/people" title="Personnel listings, search for professors, staff members, students, and alumni of the department." class="sf-depth-1 menuparent">People</a></li>
				<li id="menu-7877-1" class="middle even sf-item-4 sf-depth-1 sf-total-children-4 sf-parent-children-2 sf-single-children-2 menuparent"><a href="/research" title="Information about the research conducted by our department." class="sf-depth-1 menuparent">Research</a></li>
		<li id="menu-7882-1" class="middle odd sf-item-5 sf-depth-1 sf-total-children-4 sf-parent-children-3 sf-single-children-1 menuparent"><a href="http://cis.ksu.edu/programs" title="Information about the academic programs offered by our department." class="sf-depth-1 menuparent">Programs</a></li>
		<li id="menu-9228-1" class="last even sf-item-4 sf-depth-3 sf-no-children"><a href="http://cis.ksu.edu/programs/disted/tools" title="Tools for distance education programs" class="sf-depth-3">Courses</a></li>
		<li id="menu-7896-1" class="middle odd sf-item-7 sf-depth-1 sf-total-children-4 sf-parent-children-1 sf-single-children-3 menuparent"><a href="http://cis.ksu.edu/outreach" title="Information about our outreach programs." class="sf-depth-1 menuparent">Outreach</a></li>
		<li id="menu-7902-1" class="active-trail middle even sf-item-8 sf-depth-1 sf-total-children-5 sf-parent-children-0 sf-single-children-5 menuparent"><a href="." title="Read news releases and see events put on by our department." class="sf-depth-1 menuparent active">News &amp; Events</a></li>
		<li id="menu-7908-1" class="last odd sf-item-9 sf-depth-1 sf-total-children-6 sf-parent-children-0 sf-single-children-6 menuparent"><a href="http://cis.ksu.edu/employment" title="Employment opportunities at our department and elsewhere." class="sf-depth-1 menuparent">Employment</a></li>
		</ul>  </div>
	
	
  </div><!-- /.block -->
</div><!-- /.region -->

        </div></div><!-- /.section, /#navigation -->
      
      <div class="region region-sidebar-first column sidebar"><div class="section">
  <div id="block-nice_menus-1" class="block block-nice_menus first region-odd odd region-count-1 count-1">
      <h2 class="title"><span class="nice-menu-show-title">Info For</span></h2>
  
  <div class="content">
    <ul class="nice-menu nice-menu-right" id="nice-menu-1"><li class="menu-470 menuparent menu-path-node-48 first  odd "><a href="http://cis.ksu.edu/prospective" title="Prospective Students">Prospective Students</a><ul><li class="menu-9245 menu-path-k-stateedu-admissions- first  odd "><a href="http://www.k-state.edu/admissions/" title="Admissions for prospective undergraduate students">Admissions</a></li>
<li class="menu-471 menu-path-node-49 even "><a href="http://cis.ksu.edu/prospective/programmedforsuccess" title="Programmed for Success">Programmed for Success</a></li>
<li class="menu-472 menu-path-node-50 odd "><a href="http://cis.ksu.edu/prospective/whycs" title="Why Computer Science?">Why Computer Science?</a></li>
<li class="menu-3828 menu-path-node-1194 even "><a href="http://cis.ksu.edu/prospective/myths" title="Computer Science Myths">CS Myths</a></li>
<li class="menu-3829 menu-path-node-1195 odd "><a href="http://cis.ksu.edu/prospective/careers" title="Career Opportunities">Career Opportunities</a></li>
<li class="menu-10375 menu-path-node-2833 even  last "><a href="http://cis.ksu.edu/events" title="Corporate Sponsored Events">Upcoming Events</a></li>
</ul>
</li>
<li class="menu-6094 menuparent menu-path-node-2055 even "><a href="http://cis.ksu.edu/graduates" title="Graduate Students">Graduate Students</a><ul><li class="menu-8977 menu-path-node-67 first  odd "><a href="http://cis.ksu.edu/programs/grad/admissions" title="Apply for CIS Graduate Programs">Apply</a></li>
<li class="menu-6095 menu-path-node-2056 even "><a href="http://cis.ksu.edu/graduates/ms" title="Master of Science Degree">MS</a></li>
<li class="menu-6314 menu-path-node-2066 odd "><a href="http://cis.ksu.edu/mse" title="">MSE</a></li>
<li class="menu-6097 menu-path-node-2058 even "><a href="http://cis.ksu.edu/graduates/phd" title="Doctor of Philosophy in Computer Science">PhD</a></li>
<li class="menu-490 menu-path-node-69 odd  last "><a href="http://cis.ksu.edu/programs/grad/forms" title="Forms for current graduate students">Forms</a></li>
</ul>
</li>
<li class="menu-469 menuparent menu-path-node-47 odd  last "><a href="http://cis.ksu.edu/undergrads" title="Information for Undergraduate Students">Undergraduates</a><ul><li class="menu-603 menuparent menu-path-node-127 first  odd "><a href="http://cis.ksu.edu/advising" title="Advising">Advising</a><ul><li class="menu-604 menu-path-node-128 first  odd "><a href="http://cis.ksu.edu/advising/goals" title="Advising Goals">Goals</a></li>
<li class="menu-646 menu-path-schedulecisksuedu- even "><a href="http://schedule.cis.ksu.edu/" title="">Schedule an Appointment</a></li>
<li class="menu-647 menu-path-flowchartsenggksuedu- odd  last "><a href="http://flowcharts.engg.ksu.edu/" title="">Engineering Flowcharts</a></li>
</ul>
</li>
<li class="menu-605 menu-path-node-129 even "><a href="http://cis.ksu.edu/advising/faqs" title="FAQs">FAQs</a></li>
<li class="menu-606 menu-path-node-130 odd "><a href="http://cis.ksu.edu/advising/faqs/student" title="What is an A, B, C, or D student?">What is an A student</a></li>
<li class="menu-611 menu-path-node-135 even "><a href="http://cis.ksu.edu/resources/cpolicy" title="Department C Policy">Department C Policy</a></li>
<li class="menu-10378 menu-path-node-2863 odd  last "><a href="http://cis.ksu.edu/advising/info" title="">Mentor/Mentee Info</a></li>
</ul>
</li>
</ul>
  </div>

  </div><!-- /.block -->
<div id="block-block-5" class="block block-block region-even even region-count-2 count-2">
  
  <div class="content">
    <b>K-State</b><ul>
<li><a href="https://online.ksu.edu/Axio/">K-State Online</a></li>
<li><a href="https://isis.k-state.edu/">iSIS</a></li>
<li><a href="https://www.as.ksu.edu/HRIS/">HRIS</a></li>
<li><a href="https://webmail.ksu.edu/">Webmail</a></li>
<li><a href="https://www.k-state.edu/its/status/">ITS Status</a></li>
</ul>

<b>Computing and Information Sciences</b><ul>
<li><a href="http://support.cis.ksu.edu/">Tech Support</a></li>
<li><a href="http://selfserv.cis.ksu.edu/">Self-Serv</a></li>
<li><a href="https://password.cis.ksu.edu/">Password Reset</a></li>
<li><a href="https://schedule.cis.ksu.edu">Advising Scheduler</a></li>
<li><a href="https://flowcharts.engg.ksu.edu/">Engineering Flowcharts</a></li>
</ul>  </div>

  </div><!-- /.block -->
<div id="block-block-1" class="block block-block last region-odd odd region-count-3 count-3">
  
  <div class="content">
    <address>
<b>Department of Computing and Information Sciences</b><br>
Kansas State University<br>
234 Nichols Hall<br>
Manhattan, KS 66506<br> 
<br>
Phone: (785) 532-6350<br>
Fax: (785) 532-7353<br>
<a href="mailto:cisoffic@ksu.edu">cisoffic@ksu.edu</a><br>
</address>
<br>
<b>Office Hours</b><br>
Monday - Friday <br>
8am - 5pm<br>
<br>
<ul class="ksu-unit-social">
<li><a class="ksu-facebook-icon" title="CIS Facebook" href="https://www.facebook.com/CIS.KSU"></a></li>
<li><a class="ksu-twitter-icon" title="CIS Twitter" href="https://twitter.com/kstate_CIS"></a></li>
</ul>



  </div>

  </div><!-- /.block -->
</div></div><!-- /.section, /.region -->

      
    </div></div><!-- /#main, /#main-wrapper -->
    <div id="footer">
              <div id="bldg-outline" class="section">
            <img src="http://cis.ksu.edu/sites/all/themes/ksu2011/images/footer.png" alt="News &amp; Events | Computing and Information Sciences"http://cis.ksu.edu/>
        </div>
        <div class="section">
                                        <div id="footer-message"><br></div>
                            </div>
      
      <div id="ksu-footer">
        <div class="section">      
          <div id="footer-links">
            <ul>
              <li><a href="http://www.k-state.edu/contact/" target="_parent">Contact us</a></li>
              <li><a href="http://www.k-state.edu/advisories/" target="_parent">Emergency</a></li>
              <li><a href="http://www.k-state.edu/disclosures/" target="_parent">Statements and disclosures</a></li>
            </ul>
          </div>
          <ul id="footer-social">
               <li><a class="ksu-facebook-icon" href="http://www.facebook.com/KState" title="Facebook"></a></li>
               <li><a class="ksu-twitter-icon" href="http://twitter.com/KState" title="Twitter"></a></li>
               <li><a class="ksu-youtube-icon" href="http://www.youtube.com/user/KState" title="YouTube"></a></li>
               <li><a class="ksu-foursq-icon" href="https://foursquare.com/v/kansas-state-university/4ba0ec7cf964a520678737e3" title="Foursquare"></a></li>
               <li><a class="ksu-gplus-icon" href="https://plus.google.com/u/0/112281507388935453137/posts" title="Google+"></a></li>
          </ul>          
          <div id="footer-addr">
            <ul>
              <li>Kansas State University</li>
              <li>Manhattan, KS 66506</li>
              <li>785-532-6011</li>
              <li><a href="http://www.k-state.edu/copyright.html" target="_parent">&copy; Kansas State University</a></li>
            </ul>
          </div>
        </div><!-- /.section -->
      </div><!-- /.ksu -->
    </div><!-- /#footer -->

  </div></div><!-- /#page, /#page-wrapper -->

  
  <script type="text/javascript">
<!--//--><![CDATA[//><!--
var _gaq = _gaq || [];_gaq.push(["_setAccount", "UA-19758818-1"]);_gaq.push(["_trackPageview"]);(function() {var ga = document.createElement("script");ga.type = "text/javascript";ga.async = true;ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga, s);})();
//--><!]]>
</script>

</body>
</html>





<!-- ============================================== -->	