<!-- ============================================== -->	




<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>News &amp; Events | Computing and Information Sciences</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="modified" content="2011-03-18 11:12:59" />
<meta name="created" content="2009-03-19 03:45:16" />
<meta name="status" content="1" />
<meta name="type" content="page" />
<meta name="author" content="anonymous" />
<link rel="shortcut icon" href="http://cis.ksu.edu/sites/all/themes/ksu2011/favicon.ico" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="IE=9">
  <meta property="og:image" content="http://cis.ksu.edu/sites/all/themes/ksu2011/images/cis_logo_purple.png">
  <meta property="og:title" content="News &amp; Events | Computing and Information Sciences">
  <meta property="og:url" content="http://cis.ksu.edu/node/147">
  <meta property="og:site_name" content="Computing and Information Sciences">

  <link type="text/css" rel="stylesheet" media="all" href="http://cis.ksu.edu/sites/default/files/css/css_2372548895cee44bbc945ab59e3c6d08.css" />
<link type="text/css" rel="stylesheet" media="print" href="http://cis.ksu.edu/sites/default/files/css/css_56495fd56e6317b405998711edee3f7a.css" />
<!--[if IE]>
<link type="text/css" rel="stylesheet" media="all" href="http://cis.ksu.edu/sites/all/themes/ksu2011/css/ie.css?j" />
<![endif]-->
<!--[if lte IE 6]>
<link type="text/css" rel="stylesheet" media="all" href="http://cis.ksu.edu/sites/all/themes/ksu2011/css/ie6.css?j" />
<![endif]-->
  <script type="text/javascript" src="http://cis.ksu.edu/sites/default/files/js/js_87a1a35e68fc2043bc8d233904fef209.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "http://cis.ksu.edu/", "googleanalytics": { "trackOutbound": 1, "trackMailto": 1, "trackDownload": 1, "trackDownloadExtensions": "7z|aac|arc|arj|asf|asx|avi|bin|csv|doc|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls|xml|z|zip" }, "nice_menus_options": { "delay": "500", "speed": "fast" }, "views": { "ajax_path": "http://cis.ksu.edu/views/ajax", "ajaxViews": [ { "view_name": "News", "view_display_id": "default", "view_args": "", "view_path": "node/147", "view_base_path": "news/archive", "view_dom_id": 1, "pager_element": 0 } ] }, "superfish": { "1": { "id": "1", "sf": { "animation": { "opacity": "show" }, "speed": "fast", "autoArrows": false, "dropShadows": false, "disableHI": false }, "plugins": { "touchscreen": { "mode": "window_width" }, "supposition": false, "bgiframe": true, "supersubs": { "minWidth": "12", "maxWidth": "27", "extraWidth": 1 }, "smallscreen": { "title": "Primary links" } } } } });
//--><!]]>
</script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
(function ($) {
Drupal.behaviors.jq_maphilight = function(context, settings) {
$.fn.maphilight.defaults = {
fill: true,
fillColor: 'FFFFCC',
fillOpacity: 0.2,
stroke: true,
strokeColor: 'FFFF77',
strokeOpacity: 1,
strokeWidth: 2,
fade: true,
alwaysOn: false,
neverOn: false,
groupBy: false};
$('img[usemap]').maphilight();
}})(jQuery);
//--><!]]>
</script>
</head>
<body class="page not-front not-logged-in node-type-page page-news section-news one-sidebar sidebar-first">

  
  <div id="page-wrapper"><div id="page">

    <div id="header"><div class="section clearfix">
      
    <a href="http://www.k-state.edu/"><img id="wordmark" src="http://cis.ksu.edu/sites/all/themes/ksu2011/images/wordmark.png" alt="Kansas State University" /></a>
      
            
              <div id="search-box">
          <form action="http://cis.ksu.edu/news"  accept-charset="UTF-8" method="post" id="search-theme-form">
<div><div id="search" class="container-inline">
  <div class="form-item" id="edit-search-theme-form-1-wrapper">
 <label for="edit-search-theme-form-1">Search this site: </label>
 <input type="text" maxlength="128" name="search_theme_form" id="edit-search-theme-form-1" size="15" value="" title="Enter the terms you wish to search for." class="form-text" />
</div>
<input type="hidden" name="form_build_id" id="form-z7nLCvHa_cxqF21otm0op2wwCvwXKzXyRp8hXctmYGs" value="form-z7nLCvHa_cxqF21otm0op2wwCvwXKzXyRp8hXctmYGs"  />
<input type="hidden" name="form_id" id="edit-search-theme-form" value="search_theme_form"  />
</div>

</div></form>
          <a id="atoz" href="http://www.k-state.edu/directories/">Browse A-Z</a>
            <a id="login" href="http://cis.ksu.edu/user">Sign in</a>        </div>
      
            
    </div> <!-- /.section -->
    </div><!-- /#header -->

    <div id="main-wrapper"><div id="main" class="clearfix with-navigation">
      <div id="unitbar">
        <div class="section clearfix">
          <div class="breadcrumb"><a href="http://cis.ksu.edu/">Home</a> >>  <a href="." class="active">News &amp; Events</a></div>          
                      <div id="name-and-slogan">
                              <h1 id="site-name">
                  <a href="http://cis.ksu.edu/" title="Home" rel="home"><span>Computing and Information Sciences</span></a>
                </h1>
                  
                              <h2 id="site-slogan">
                  College of Engineering                </h2>
                          </div><!-- /#name-and-slogan -->
                </div><!-- /.section -->
    </div><!-- /#unitbar -->

    <div id="content" class="column"><div class="section">

		<!-- !!! -->
        <h1 class="title">News &amp; Events</h1>
		<br>

        <div id="content-area">
			<div id="node-147" class="node node-type-page build-mode-full clearfix">
				<div class="content">
					<div class="views_view view view-Events view-id-Events view-display-id-default view-dom-id-2">




<!-- ============================================== -->	