<!-- render 'prepagecontent' -->
<!-- ============================================== -->	
<h1>Edit Subscriptions</h1>
 
<%= render 'form' %>

<%= link_to 'Delete Subscriptions', usersubscription_path(@usersubscription), method: :delete, data: { confirm: 'Are you sure?' } %> |  
<%= link_to 'Back to List of User Subscriptions', usersubscriptions_path %>
<!-- ============================================== -->
<!-- render 'postpagecontent' -->