<!-- render 'prepagecontent' -->			
<!-- ============================================== -->					
<style>
	table .teamH_grouptable
	{
		border-collapse: collapse;
		width: 100%;
	}
	.teamH_grouptable th, .teamH_grouptable td
	{
		margin: 0px;
		text-align: left;
		padding-left: 5px;
		padding-right: 5px;
	}
	.teamH_grouptable th
	{
		border: 0px solid black;
		font-weight: bold;
		padding-bottom: 5px;
	}
	.teamH_grouptable td
	{
		border-top: 1px solid grey;
		padding-bottom: 10px;
	}
	.teamH_grouptable .leftcolumnclass
	{
		width: 25%;
	}
	teamH_grouptable a
	{
		color: grey;
	}
	
	.teamH_buttonStyle a, .teamH_buttonStyle input
	{
		color:#fff;
		font-weight:bold;
		border:1px solid #512888;
		width:auto;
		cursor:pointer;
		padding:4px 10px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
		background-color:#512888;
		background-image:-webkit-gradient(linear,left top,left bottom,from(#7346aa),to(#512888));
		background-image:-webkit-linear-gradient(top,#7346aa,#512888);
		background-image:-moz-linear-gradient(top,#7346aa,#512888);
		background-image:-ms-linear-gradient(top,#7346aa,#512888);
		background-image:-o-linear-gradient(top,#7346aa,#512888);
		background-image:linear-gradient(top,#7346aa,#512888);
		text-decoration: none;
	}
	.teamH_buttonStyle a:hover, .teamH_buttonStyle input
	{
		text-decoration: none;
	}
	
</style>

<h1>Users</h1>

<table class="teamH_grouptable">
  <tr>
	<th class="leftcolumnclass">Series</th>
    <th>Description</th>
  </tr>
 
<% @usersubscription.each do |usersubscription| %>
  <tr>
	<td class="leftcolumnclass"><%= link_to usersubscription.username, usersubscription_path(usersubscription) %></td>
    <td><!-- @usersubscription.username %>--></td>
  </tr>
<% end %>
  <!--<tr><td></td><td></td></tr>-->
</table>

<div class="teamH_buttonStyle">
	<%= link_to 'Create New User Subscription', new_usersubscription_path %>
</div>
<br>
<br>
<div style="border-top: 1px solid grey;">
	<%= link_to 'View List of All Available Series', controller: "series" %>
</div>
<!-- ============================================== -->
<!-- render 'postpagecontent' -->